<div class="p-3 text-center bg-image"
     style="height: 150px;">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-success">
        <h1 class="mb-3">List Bến Xe</h1>
        <a routerLink="/ben-xe/create" class="btn btn-outline-success btn-lg" role="button">Create
        </a>
      </div>
    </div>
  </div>
</div>
<form class="d-flex " style="width: 20%" [formGroup]="searchForm" (ngSubmit)="nameSearch()">
  <input class="form-control me-2" type="search"
         placeholder="Search By Name" formControlName="nameSearch">
  <button class="btn btn-outline-success" type="submit" >Search</button>
</form>
<div class="container-fluid" style="height: 400px">
  <div class="container-fluid mt-3" style="overflow: auto">
    <table class="table table-warning table-bordered" style="font-size: 12px; width: 100%">
      <thead>
      <tr>
        <th>Stt</th>
        <th>Số xe</th>
        <th>Loại xe</th>
        <th>Tên nhà xe</th>
        <th>Điểm đi</th>
        <th>Điểm đến</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Giờ đi</th>
        <th>Giờ đến</th>
        <th>Option</th>
        <th>Option</th>
      </tr>
      <tr *ngFor="let temp of benXeList;index as i">
        <td>{{i + 1}}</td>
        <td>{{temp.soXe}}</td>
        <td>{{temp.loaiXe}}</td>
        <td>{{temp.tenNhaXe}}</td>
        <td>{{temp.diemDi.tenDiemDi}}</td>
        <td>{{temp.diemDen.tenDiemDen}}</td>
        <td>{{temp.soDienThoai}}</td>
        <td>{{temp.email}}</td>
        <td>{{temp.gioDi}}</td>
        <td>{{temp.gioDen}}</td>
        <td>
          <a [routerLink]="['/ben-xe/edit', temp.id]">
            <button class="btn btn-warning">Edit</button>
          </a>
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                  data-bs-target="#modelId" (click)="elementDelete(temp.id, temp.soXe)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-trash3" viewBox="0 0 16 16">
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
          </button>
        </td>
      </tr>
      </thead>
    </table>

    <div class="modal fade" id="modelId" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabelAddNew" style="color: red">Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              Bạn có đồng ý xoá xe khách có số xe <strong style="color: red">{{nameModal}}</strong> hay không?
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetModal()">Close
            </button>
            <button (click)="deleSoXe()" class="btn btn-danger" data-bs-dismiss="modal">delete</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center">
  <button (click)="previousPage()">Previous</button>
  <span>{{pageCurren +1}}/{{pageTotal}}</span>
  <button (click)="nextPage()">Next</button>

</div>

