
<div class="container-fluid">
  <div class="row">
    <div class="col "></div>
    <div class="col text-center"><h1>Bến Xe An Sương Management</h1>
    </div>
    <div class="col text-center"><p>Welcome to ...<br><strong>...An Sương Park!!!</strong></p></div>
  </div>
</div>

<nav class="navbar"
     style="background-color: rgba(0,0,0,.2);position: sticky;top: 0;z-index: 1;">
  <div class="container-fluid" style="background-color: rgba(0,0,0,.2)">
    <a routerLink="" class="navbar-brand" style="color: white">Home</a></div>
</nav>
